<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/world.css">
<link rel="stylesheet" type="text/css" href="css/codemirror.css">
<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/multithread.js"></script> 
<script src="js/objects_handler.js"></script>
<script src="js/utils.js"></script>
<script src="js/codemirror.js"></script>
<!-- bootstrap load on cdn -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- bootstrap load on cdn -->
<script>
//create CodeMirror (div with texteditor id) to handle the code user is working in.
var texteditor;
$( document ).ready(function() 
{
	 texteditor = CodeMirror(editor, 
	 {value: "",lineNumbers: true,lineWrapping: true, mode:  "javascript"});
})
</script>
<head>
   <title>{{title}}</title>
</head>
<body>
 <div class="editor" id='editor' style="margin-left:60%; position:absolute; border:1px solid; width:40%; height:50%">

</div>


   {{#generateworld this}}
      {{this}}
   {{/generateworld}}


   <button type="button" style='margin-top:2%' class="btn btn-secondary" onclick='run_bot()'>Executar Código</button>

</body>
</html>
