<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/world.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/codemirror.css">
<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/multithread.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/objects_handler.js"></script>
<script src="js/utils.js"></script>
<script src="js/codemirror.js"></script>
<script>
//create CodeMirror (div with texteditor id) to handle the code user is working in.
var texteditor;
$( document ).ready(function() 
{
	 texteditor = CodeMirror(editor, 
	 {value: "",lineNumbers: true,lineWrapping: true,mode:  "javascript"});
})
</script>
<head>
   <title>{{title}}</title>
</head>
<body>
 

    
{{#generateworld this}}

      {{this}}
    {{/generateworld}}



</div>
<div class="editor" id='editor' style="margin-left:60%; position:absolute; border:1px solid; width:40%; height:50%">

</div>


<button type="button" style='margin-top:500px' class="btn btn-secondary" onclick='run_bot()'>Executar Código</button>

</body>
</html>
