<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/world.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/codemirror.css">
<script src="js/jquery-3.2.0.min.js"></script>
<!--<script src="js/multithread.js"></script> temporary commented - no use 09/04/2017 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/objects_handler.js"></script>
<script src="js/utils.js"></script>
<script src="js/codemirror.js"></script>
<script src="js/mode_javascript.js"></script>
<script>
//create CodeMirror (div with texteditor id) to handle the code user is working in.
var texteditor;
$( document ).ready(function() 
{
	console.log(1)
	 texteditor = CodeMirror(editor, {
	  value: "aaaa",
  lineNumbers: false,
  lineWrapping: true,
	  mode:  "javascript"
	});
})
</script>
<head>
   <title>{{title}}</title>
</head>
<body>
<div class="Map" style='position:absolute; width:60%; height:50%; border:1px solid;'>
{{#generateworld this}}
      {{this}}
    {{/generateworld}}
</div>
<div class="editor" id='editor' style="margin-left:60%; position:absolute; border:1px solid; width:40%; height:50%">

</div>


<button type="button" style='margin-top:500px' class="btn btn-secondary" onclick='run_bot()'>Secondary</button>

</body>
</html>
